*** Settings ***
# Importing test libraries, resource files and variable files.
Documentation   Verify NX-OS PIM Operation
Default Tags    nx-os   operational   non-critical   
Library               RequestsLibrary
Library               Collections
Library               ../../../robot_lib/JsonpathLibrary.py

*** Variables ***
${user} =  {{ username }}
${passwd} =  {{ password }}
&{headers} =  Accept=application/yang.data+json


*** Test Cases ***
Get PIM Information
    ${auth}=  Create List  ${user}  ${passwd}
    Create Session    my_session   https://{{ nexus_host }}   verify=False   debug=3   headers=${headers}   auth=${auth}
    ${response}=    GET On Session    my_session   /restconf/data/Cisco-NX-OS-device:System/pim-items   
    Set Global Variable   ${response}

{% if nexus.pim is defined %}

Verify PIM in VRF Default 
    ${pim_default}    Get Items By Path    ${response.json()}    $.pim-items.operSt
    Should Be Equal As Strings   ${pim_default}   "enabled"

{% endif %}
